/*---------Global-----------*/
* {
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

/*---------Header----------*/

header {
  width: 100vw;
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0B0E43;
  color: white;
  padding: 15px;
}

h1 {
  font-size: 32px;
  margin: 0;
}

.header__title--color {
  color: #fec40e;
}

.header__search-form {
  display: flex;
  align-items: center;
  width: 330px;
  height: 48px;
  border-radius: 10px;
  border: 2px solid #0F194D;
}

.header__search-btn {
  height: 100%;
  width: 15%;
  background-image: url(images/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #A9D1EA;
  background-size: 25px;
  border: none;
}

.header__search-input {
  width: 85%;
}

/*---------Main---------*/

main {
  display: flex;
  width: 100vw;
  height: 100vh;
}

/*-------Left side---------*/
.main__aside {
  width: 34%;
  background-color: #47869A;
}

label {
  display: block;
  color: #CAE5E3;
  font-size: 14px;
  width: 100%;
  margin-bottom: 5px;
}

input {
  width: 100%;
  height: 46px;
}

.aside__task-form {
  display: flex;
  flex-direction: column;
  min-height: 48vh;
  margin: 15px 15px 0px 15px;
}

.task-form__task-title {
  margin: 20px 0px 35px 0px;
}

.task-title__title-input {
  border-radius: 3px;
  border: 2px solid #0F194D;
}

.task-form__make-task-btn,
.task-form__clear-btn,
.filter-div__filter-btn {
  width: 100%;
  height: 46px;
  padding: 5px;
  border-radius: 3px;
  background-color: #0B0E43;
  color: #fff;
  border: none;
  margin-bottom: 15px;
}

.task-form__task-item {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #0B0E43;
  border-radius: 3px;
  margin-bottom: 25px;
}

.task-item__item-input {
  width: 85%;
}

.task-item__item-btn {
  width: 15%;
  background-color: #0B0E43;
  border: none
}

.aside__filter-div {
  border-top: 1px solid #2D6C84;
  padding: 30px 15px 0px 15px;
}

.filter-div__filter-btn--urgent {
  background-color: #ef4a23;
  color: #fff;
  border: 1px solid #782616;
}
.task-form__task-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: -20px 0px 0px 0px;
}

.toDo-list__list-item {
  list-style-type: none;
  font-size: 20px;
  color: #fff;
  vertical-align: text-top;
  margin: 0;
}
.toDo-list__list-item::before {
  content: '';
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-right: 5px;
  background-image: url(images/delete.svg);
}

.task-list__list-item {
  color: #1f1f3d;
}

.task-list__list-item::before {
    content: '';
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-right: 5px;
    background-image: url(images/checkbox.svg);
}

.task-list__list-item--checked {
  font-style: italic;
}

.task-list__list-item--checked::before {
  background-image: url(images/checkbox-active.svg)
}

/*----------main section----------*/

.main__section {
  width: 66%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/*----------task cards-----------*/

.section__task-card {
  border: 1px solid #c7d3d8;
  width: 310px;
}

.section__task-card--urgent {
  background-color: #ffe89d;
  border: 1px solid #ffc30c;

}
.task-card__card-header {
  height: 45px;
  border-bottom: 1px solid #c7d3d8;
  padding: 10px;
  color: #1f1f3d;
}

h2 {
  margin: 0;
}
.task-card__card-body {
  flex: 1;
}

.card-body__task-list {
  padding-left: 5px;
}

.task-card__card-footer {
  height: 50px;
  display: flex;
  border-top: 1px solid #c7d3d8;
  justify-content: space-between;
  padding: 0px 5px 0px 5px;
}

.card-footer__urgent-btn,
.card-footer__delete-btn {
  z-index: 1;
  height: 20px;
  width: 20px;
  border: none;
}

.card-footer__delete-btn {
  background-image: url(images/delete.svg);
}

.card-footer__urgent-btn {
  background-image: url(images/urgent.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.card-footer__urgent-text,
.card-footer__delete-text {
  margin: 0;
  font-size: 14px;
  color: #3d6477;
}

.card-footer__urgent-div,
.card-footer__delete-div {
  height: 100%;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}